@using SquishIt.Config.Mvc
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Html.Css("main")
</head>

<body>
    @RenderBody()
    @Html.JavaScript("main")
</body>
</html>
